.sidebar {
  float: right;
  margin-top: 155px;
  margin-right: 58px;
  z-index: 5;
}
.sidebar .sidebar__img {
  cursor: pointer;
  width: 74px;
  height: 75px;
  border: 3px solid #afd2d3;
  border-radius: 50%;
  margin-top: 10px;
}
.sidebar .sidebar__img:nth-of-type(1) {
  margin: 0;
  background: url(../img/sidebar/домик.png) #e3e6de center center no-repeat;
}
.sidebar .sidebar__img:nth-of-type(2) {
  background: url(../img/sidebar/витрина.png) #e3e6de center center no-repeat;
}
.sidebar .sidebar__img:nth-of-type(3) {
  background: url(../img/sidebar/о-нас.png) #e3e6de center center no-repeat;
}
.sidebar .sidebar__img:nth-of-type(4) {
  background: url(../img/sidebar/портфолио.png) #e3e6de center center no-repeat;
}
.sidebar .sidebar__img:nth-of-type(5) {
  background: url(../img/sidebar/преимущества.png) #e3e6de center center no-repeat;
}
.sidebar .sidebar__img:nth-of-type(6) {
  background: url(../img/sidebar/порядок-работы.png) #e3e6de center center no-repeat;
}
.sidebar.fixed {
  position: fixed;
  right: 0px;
}
